* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  padding-top: 2rem;
}

body {
  background-color: #171717;
  padding: 1rem;
}

a {
  font-family: sans-serif;
  display: grid;
  justify-content: right;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  background-color: #1d1c1c;
}

h1 {
  font-family: sans-serif;
  color: white;
  padding-top: 2rem;
}
